.main-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  top: 30%;
  left: 13%;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.banner-title {
  font-family: "Exo", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  text-align: start;
  margin: 0;
}

.banner-subtitle {
  font-size: 1.2rem;
}


.content-btn{

}
.btn-vermas{
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  background-color: var(--background-color-lightGreen);
  padding: 0.5rem 1.5rem;
  border: none; /* quita el borde */
  border-radius: 20px;
  border-color: var(--background-color-lightGreen);
  text-decoration: none;
}
