.navbar-init {
  height: 90px;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 50;
  letter-spacing: 0px;
  margin: auto;
  width: 100%;
  transition: all 0.3s ease-out;
  z-index: 60;
  border-bottom: 1.5px solid #0c1a4027;
  background-color: azure;
}

/* Logo Navbar */
.navbar-logo {
  display: flex;
  justify-self: start;
  justify-content: center;
  position: absolute;
  left: 15%;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  filter: var(--filter-Logo) ;
  padding-top: 0rem;
  width: 40px;
  height: 40px;
  transition: all 0.1s linear;
  z-index: 50 !important;
}

